CONFIG_FILE="/etc/alloy/config.alloy"
CUSTOM_ARGS="--server.http.listen-addr=127.0.0.1:12345"
MIMIR_URL="http://${warehouse_host}:9009/api/v1/push"
LOKI_URL="http://${warehouse_host}:3100/loki/api/v1/push"
TEMPO_ENDPOINT="${warehouse_host}:4317"
