apiVersion: 1
prune: true

datasources:
  - name: Mimir
    uid: mimir
    type: prometheus
    access: proxy
    url: http://${warehouse_host}:9009/prometheus
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      prometheusType: Mimir

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://${warehouse_host}:3100
    editable: false

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://${warehouse_host}:3200
    editable: false
